.no-js nav li:hover ul {
    display: block;
}
nav {    
    text-align: justify;
    float: left;
    margin-left: 23px;
    width: 747px;
}

nav ul {
    border-top: #000 double 3px;  
    border-bottom: #000 double 3px;    
    list-style: none;
    padding: 15px 0px;
}
nav ul li ul {
    list-style: none;
    border: none;
    opacity: 0.98;
    padding: 0px 0px;
}
nav ul li ul li {    
    text-align: center;
    font-weight:bold;
    white-space:nowrap;
    margin-top:1px;
}

nav li 
{
    width: 145px;
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    color: #fff;
    padding: 0px 5px 0px 0px;
}
nav li:last-child{
	padding: 0px;
}

nav ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
nav li a,nav li a:link, nav li a:visited
{        
    color: #fff;
    font-weight:bolder;
    display: block;
    padding: 10px 0px;
    text-decoration: underline;
    font-size:9pt;
}
nav ul a{
	font-weight: normal;
	background: #000;
}
nav ul ul li a{
	font-weight: bold;
	background-color: #4a4a4a;
	padding:0px;
}
nav li a:focus {
    outline: medium none;
    text-decoration: underline;
}
nav li a:hover {
    outline: medium none;
    text-decoration: underline;
    background: #bababc;
    color: #000;
}
nav li:first-child a {
    border-left: medium none;
}
nav ul:last-child{
    padding-left:0px
}
nav li.last a {
    border-right: medium none;
}
nav a span {
    display: block;
    float: right;
    margin-left: 0px;
}
nav ul ul {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
}
nav ul ul li {
    float: none;
}
nav ul ul a {
    border-left: medium none;
    border-right: medium none;
    font-size: 14px;
    padding: 0px 10px;
}
nav ul ul a:hover {
    background-color: #9a9a9a;
}
div#border{
	display: inline-block;
	width: 146px;
	padding-left: 0px;
	margin-bottom:-21px;
	height:52px;
	padding-bottom: 3px;
}
div#border.selected {
	padding-bottom: 0px;
	border-bottom: 3px double red;
}
.borderradius nav {
    border-radius: 4px 4px 4px 4px;
}
.cssgradients nav {
    /*background-image: -moz-linear-gradient(0% 22px 90deg, #222222, #999999);*/
}
.boxshadow.rgba nav {
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);*/
}
.cssgradients nav li:hover {
    /*background-image: -moz-linear-gradient(0% 100px 90deg, #999999, #222222);*/
}
.borderradius nav ul ul {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.boxshadow.rgba nav ul ul {
    /*background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);*/
}
.rgba nav ul ul li {
    /*border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);*/
}
.rgba nav ul ul a:hover {
   /*background-color: rgba(154, 154, 154, 0.9);*/
}
.borderradius.rgba nav ul ul li.last {
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.1);*/
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    /*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
}
.csstransforms ul a span {
    /*-moz-transform: rotate(-180deg);*/
}
.no-cssgradients nav, .no-js nav {
    /*background: url("../Images/Master/navBG.gif") repeat-x scroll 0 0 transparent;*/
    border: medium none;
    padding-bottom: 4px;
}
.no-borderradius nav ul, .no-js nav ul {
    /*background: url("../Images/Master/navRight.gif") no-repeat scroll 100% 0 transparent;*/
}
.no-borderradius nav ul ul, .no-js nav ul ul {
    background: none repeat scroll 0 0 transparent;
}
.no-borderradius nav li, .no-js nav li {
    height: 44px;
}
.no-cssgradients nav li:hover, .no-js nav li:hover {
    /*background: url("../Images/Master/navOverBG.gif") repeat-x scroll 0 0 transparent;*/
}
.no-borderradius nav li li, .no-js nav li li {
    height: auto;
    left: -2px;
    width: 98%;
}
.no-borderradius nav li:first-child, .no-js nav li:first-child {
    /*background: url("../Images/Master/navLeft.gif") no-repeat scroll 0 0 transparent;*/
}
.no-borderradius nav li:first-child:hover, .no-js nav li:first-child:hover {
    /*background: url("../Images/Master/navOverLeft.gif") no-repeat scroll 0 0 transparent;*/
}
.no-borderradius nav li li:first-child, .no-js nav li li:first-child {
    background: none repeat scroll 0 0 transparent;
}
.no-rgba nav ul ul, .no-js nav ul ul {
    /*background: url("../Images/Master/subnavBG.png") no-repeat scroll 100% 100% transparent;*/
    left: 1px;
    padding-left: 2px;
}
.no-rgba nav ul ul a, .no-js nav ul ul a {
    left: 3px;
}
.no-rgba nav ul ul a:hover {
    /*background: url("../Images/Master/subOverBG.png") repeat scroll 0 0 transparent;*/
}
.no-csstransforms ul a span {
    /*background: url("../Images/Master/indicator.png") no-repeat scroll 0 0 transparent;*/
    height: 7px;
    margin-top: 8px;
    overflow: hidden;
    text-indent: -5000px;
    width: 12px;
}
.no-borderradius ul ul li.last {
    margin-bottom: 10px;
}
.no-cssgradients.boxshadow nav {
    box-shadow: none;
}