<div>
    <div>
        <h1>&nbsp;Капоэйра (Capoeira)&nbsp;&mdash;</h1><br/>
        неповторимое боевое искусство Бразилии, впитавшее в&nbsp;себя стили мировых единоборств, элементы акробатики и&nbsp;танца, музыку традиционных инструментов и песни на&nbsp;португальском языке. Капоэйра тренирует тело и&nbsp;развивает мышление; работает с&nbsp;эмоциями и&nbsp;находит скрытые музыкальные таланты; она просто объединяет ярких людей&nbsp;<a href="#" title="Узнать больше о капоэйре" style="color:#fff;">>>></a>
    </div>
</div>
<span>
    <a href="#" title="Прочитать подробнее о занятиях по капоэйре" style="display: block; color: #000"><h2 style="display:block; margin-bottom: 0px; font-size: 15pt; border: none;">Мундо Капоэйра</h2></a>
    одна из&nbsp;ведущих и&nbsp;старейших школ в&nbsp;России, которая активно занимается популяризацией капоэйры и&nbsp;афро-бразильской культуры среди взрослых и&nbsp;детей, регулярно выступает с&nbsp;шоу-программами, устраивает тематические вечеринки, а&nbsp;также организует фестивали и&nbsp;семинары с&nbsp;мастерами из&nbsp;Европы и&nbsp;Бразилии!
</span>