@using MundoMvc4.Common
@using MundoMvc4.Globalization
@model IEnumerable<ArticleLocal>

@{
    ViewBag.Title = GArticles.IndexTitle;
}
@if (User.IsInRole(MundoRoles.WRITER))
{
    <p>
        @Html.ActionLink(GActions.Create, "Create")
    </p>
}S
@foreach (var item in Model) {
    <section>
        <a href="@Url.Action("Details",new{argument=item.Article.SysName})">@item.Name</a>
    </section>
}
