@using MundoMvc4.Globalization
@model MundoMvc4.DataLayer.Gym

@{
    ViewBag.Title = GDelete.Title;
}

<h2>@GDelete.Title</h2>

<h3>@String.Format(GDelete.Message,Model.SysName)</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@GDelete.Submit" /> 
    </p>
}
