/* browser override */
html, body, div, span, h1 {            
    margin: 0 0 0 0;  
}
html    
{
    background:
            url("../Images/Master/bg_crn_tl.png") top left no-repeat,
            url("../Images/Master/bg_crn_tr.png") top right no-repeat,
            url("../Images/Master/bg_crn_bl.png") bottom left no-repeat,              
            url("../Images/Master/bg_right_middle1.png") 100% 30% no-repeat,              
            url("../Images/Master/bg_right_middle2.png") 100% 70% no-repeat,
            url("../Images/Master/bg_head.png") top no-repeat,
            url("../Images/Master/bg_bottom_middle.png") bottom no-repeat,
            url("../Images/Master/bg.png");           
}
body 
{    
    color: #6B6B6C;
    font-family: Georgia,Arial,Tahoma,Helvetica,Verdana;
    font-size: 11pt;                 
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 100%;
    min-height: 700px;
}
header, footer {
    margin: 0 0 0 0;
}
img {
    border: transparent none;
}
a:link, a:visited, a:active
{
    color: black;
    text-decoration: underline;    
}

a:hover 
{
    color: #717171;
    text-decoration: none; 
}

header, footer, hgroup
nav, section {
    display: block;
}

h3, 
h4, h5, h6 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
	color: black;
	font-weight: normal;
	margin-bottom: 25px;
	margin-top: 25px;
	display: block;
	font-size: 2em;
}

h2 {
    font-size: 1.5em;
	display: inline-block;
	font-weight: normal;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: -5px;
	border-bottom: 1px solid #6B6B6C;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6B6B6C;
	padding-bottom: 5px;
}

h3 {
    font-size: 1.2em;
}

h3.faq-question {
	display: block;
	font-weight: normal;
	font-size: 1.0em;
	width: 300px;
	font-style: italic;
	background-color: #E9E9EC;
	padding: 10px;
	-moz-border-radius: 15px;
  	border-radius: 15px;
}

p.faq-answer {
	position: relative;
	display: block;
	width: 400px;
	left: 330px;
	background-color: #E5E5FD;
	padding: 10px;
	-moz-border-radius: 15px;
  	border-radius: 15px;
  	margin-bottom: 20px;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* common styles*/
.img-link img {
    
}
.img-link img, .img-link:active, img .img-link:visited img {
    opacity: 0.8;
}
.img-link:hover img  {
    opacity: 1;
}

hr.newsline
{
	background-color: #ec3300;
	height:1px;
	border: 1px solid #ec3300;
}

/* header related styles*/
#master-header 
{
    height: 100px;    
    vertical-align: top;    
}
#master-logobox {
    text-align: left;
    float: left;
    height: 95px;
    width: 230px;
}
#master-logobox img:hover {
    opacity: 0.75;
}
#master-citybox 
{
    margin: 0px;
    position: relative;
    left: 100px;
    top: -32px;
    width: 115px;
    margin-left:14px;
    padding-left:20px;
    height:14px;
    font: 12px Arial, Tahoma, Helvetica, Verdana;
    line-height: 12px;
    cursor: pointer;
    background-image: url(../Images/Master/selector.png);
    background-repeat: no-repeat;
	zoom: 1;
}
#master-citybox.clicked{
	background-image: url(../Images/Master/selector-hover.png);
	background-repeat: no-repeat;
}
#master-citybox ul {
    display: block;
    padding-left: 0px;
}
#master-citybox ul li {
    list-style: none;
	vertical-align: top;
	display: block;
	color: black;
	background-color: white;
	width: 110px;
	line-height: 14px;
	font-size: 10px;
	font-family: Tahoma;
	font-weight: normal;
	text-align:center;
	margin: 0px;
}
#master-citybox ul li.sub {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 110px;
	color: white;
	background-color: #9E9FA3;
}
#master-citybox ul li a{
	text-decoration: none;
}
#master-citybox ul li.sub a{
	color:#fff;
}
#region-dialog{
	
}
.news-date {
    font-family: Tahoma, Arial, Helvetica, Verdana;
    color: #4d4e4e;
    font-weight: bold;
    font-size:7pt;
}        
.news-body a
{
    display: inline-block;
    padding-left: 30px; 
    background-position: left center;
    font-weight:bold;
    font-size: 10pt;
    
}
.news-body[isTop="True"] a {
    background: url("../Images/Master/news_level_top.png") no-repeat center left;
    /*background-origin: padding-box;*/
}
.news-body span {
    display: inline-block;
    padding-left: 30px;
    font-size: 10pt;
    color: #4D4E4E;
}
.news-summary {
        
}
#master-superbox {
    margin: 10px 0 0 0;
    text-align: right;
    clear: left;
    display: block;
}
#master-superbox div#admin{
	display: inline;
}
#master-superbox div#admin a{
    color: #EC3300;
}

#master-superbox a img:hover{
    opacity: 0.75;
}
#master-superbox .master-login 
{
    padding: 3px;
    background: #1620d6;
    color: white;
}   
      
/* footer style*/ 
footer,header {    
}        
#master-footer 
{
    display: block;
    clear: both;
}
#master-footer div {
    float: left;
    margin: 3px;
    margin-bottom: 30px;
    text-align: center;
    padding: 5px 10px;
    border-top: black double medium ;
}
#footer-copyrights 
{
    color: #909090;
    font-size: 10px;
    width: 200px;
    text-align: left;
}
#footer-copyrights a 
{
    color: #909090;
}
#footer-contacts {
    width: 500px;
    text-align: left;
}
#footer-social
{
    width: 220px;
}
#footer-social img:hover {
    opacity: 0.75;
}
#footer-social a {
    margin: 5px 5px;
}

#footer-phone 
{
    margin: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia,Arial,Tahoma,Helvetica,Verdana;
}

/* content style*/
#master-content { 

}

#master-content p.quote {
	float:left;
	margin-left: 10px;
	margin-right: 10px;
    font-style: italic;
    -moz-border-radius: 10px;
  	border-radius: 5px;
  	border: 1px solid #6B6B6C;
  	padding: 10px;
  	margin-top: -5px;
  	opacity: 0.85;
  	text-align:left;
  	color: #404040;
}

#master-content p.quote span.author{
	display:block;
	text-align:right;
	font-style:normal;
	font-size: 11pt;
}
#master-sidebar {
    display: inline;
    float: right;
    min-height: 400px;    
    width: 220px;
}
#mundo-video{
	display: none;
}
#master-sidebar header {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
#master-sidebar header a {
    text-decoration: none;
    color: rgb(107, 107, 107);
    font-size: 16pt;
}
.edit-menu-box {            
    display: block;
    margin-top: 10px;
}
.edit-menu-box a{
	color: #EC3300;
}
.editor-field textarea {
    width: 90%;
    min-height: 300px;
}

/* login  
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin-top: 20px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }
    
    #login a.username {
        background: none;
        margin-left: 0px;
        text-decoration: underline;
    }

    #login li {
        display: inline;
        list-style: none;
    }
    
 
/* page elements  
----------------------------------------------------------*/
/* forms */

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 50px;
    height: 100%;
    width: 100%;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}

/* login page */ 
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 50%;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }
    
        fieldset ol li {
            padding-bottom: 5px;
        }
    
    fieldset label {
        display: block;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    fieldset label.checkbox {
        display: inline;
    }
    
    fieldset input[type="text"], 
    fieldset input[type="password"] {
        border: 1px solid #e2e2e2;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }
    
        fieldset input[type="text"]:focus, 
        fieldset input[type="password"]:focus {
            border: 1px solid #7ac0da;
        }
    
    fieldset input[type="submit"] {
        background-color: #d3dce0;
        border: solid 1px #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
    }

/* ajax login/registration dialog */
.modal-popup {
    font-size: 0.7em;
}

    .modal-popup input[type="text"], 
    .modal-popup input[type="password"] {
        width: 90%;
    }

/* info and errors */  
.message-info {
    border: solid 1px;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.success {
    color: #7ac0da;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

